---
layout: default_with_header
title: Full Analysis Archives
permalink: /analysis
description: Analysis description goes here
---

<section class="container">

    <div class="row">

        <div class="col-md-10 col-md-offset-1">

            {% for post in site.posts %}
            <div class="article-listing" itemscope itemtype="http://schema.org/Article">
                <a href="{{ site.prefix }}{{ post.url }}" itemprop="url"><h4 itemprop="name">{{
                    post.title }}</h4></a>
                <article>
                    <p itemprop="description">{{ post.description }}</p>
                    <span class="article-meta"><span class="meta article-date" itemprop="datePublished">{{ post.date | date: "%B %-d, %Y" }}</span>
                        {% if post.author %} • By <span class="post-author">{{ post.author }}</span> {% endif %}</span>
                </article>
            </div>
            {% endfor %}
        </div>

        <!--<div class="col-md-1">-->
            <!--{% include side_well.html %}-->
        <!--</div>-->

    </div>

</section>


