---
layout: default_with_header
title: Analysis
permalink: /analysis
description: Analysis description goes here
---


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/google_stacked_chart.js"></script>


<section class="container">

    <div class="row" style="padding-top: 50px;">
        <div class="col-md-10 col-md-offset-1 well chart-container">

            <h3 class="text-center">Performative Analysis of President Trump's Speeches</h3>

            <!--<div class="row">
                <div class="col-md-8 col-md-offset-2 chart-subheader">
                    Method: Using detailed analysis of written transcripts, we’ve compile numerical data that
                    quantifies the different styles of rhetoric used in Mr. Trump’s speech
                </div>
            </div>-->

            <div id="chart_div"></div>
        </div>
    </div>
    <p>Using detailed analysis of written transcripts, we’ve compile numerical data that quantifies the different styles of rhetoric used in Mr. Trump’s speech. For more details on the analyis methodology, see our <a href="about.html">About page</a>.</p>



    <div class="row" style="margin-top: 90px; margin-bottom: 30px;">
        <div class="col-md-10 col-md-offset-1">

            <div class="top_line"></div>
            <div class="line_container">
                <h2 class="body_title">Full Analysis Archives</h2>
                <div class="body_title_line"></div>
            </div>


        </div>
    </div>


    <div class="row">

        <div class="col-md-10 col-md-offset-1">

            {% for post in site.posts %}
            <div class="article-listing" itemscope itemtype="http://schema.org/Article">
                <a href="{{ site.prefix }}{{ post.url }}" itemprop="url"><h4 itemprop="name">{{
                    post.title }}</h4></a>
                <article>
                    <p itemprop="description">{{ post.description }}</p>
                    <span class="article-meta"><span class="meta article-date" itemprop="datePublished">{{ post.date | date: "%B %-d, %Y" }}</span>
                        {% if post.author %} • By <span class="post-author">{{ post.author }}</span> {% endif %}</span>
                </article>
            </div>
            {% endfor %}
        </div>

        <!--<div class="col-md-1">-->
            <!--{% include side_well.html %}-->
        <!--</div>-->

    </div>

</section>


