<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-md-offset-3 text-center" style="padding: 0;">

                <div class="footer-logo-container">
                    The Science of the Deal
                </div>

                <div class="footer-text">
                    <span style="font-size: smaller">
                        <a href="mailto:info@thescienceofthedeal.com?subject=inquiry_from_website">Info@TheScienceOfTheDeal.com</a><br />
                </div>

            </div>
            <div class="col-md-2 text-center">
                <div class="footer-text">
                    <span style="font-size: smaller">Copyright &copy; Auspex, LLC 2017<br/>

                        <!--Site developed by <a href="https://alleywayconsulting.com/">Alleyway</a>-->
                    </span>
                </div>


            </div>
            <div class="col-md-2">
                <div class="social-container">
                    <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline" style="margin-top:10px;">
                        <li><a href="https://www.facebook.com/USERNAME" rel="nofollow"
                               title="Like us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://plus.google.com/USERNAME?prsrc=3" rel="nofollow"
                               title="Follow us on Google+"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://twitter.com/USERNAME" rel="nofollow"
                               title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93018708-1', 'auto');
    ga('send', 'pageview');

</script>


</body>

</html>
