<!DOCTYPE html>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website" lang="en-US" itemscope itemtype="http://schema.org/WebPage">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/favicon.ico">

    <!--<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>-->

    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="/site.css" rel="stylesheet">

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="/bower_components/plotly.js/dist/plotly.min.js"></script>-->
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/site.js"></script>

    <script>
        $.urlParam = function(name){
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results==null){
                return null;
            }
            else{
                return results[1] || 0;
            }
        };
    </script>

    {% seo %}
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" role="document">

<!--"navbar-fixed-top" will make nav sticky-->
<nav class="navbar navbar-custom" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/#page-top">T<span class="small-caps">HE </span>S<span class="small-caps">cience of the </span>D<span class="small-caps">eal</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse" style="padding-right: 0px;">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li><a href="/about">About</a></li>
                <!--<li><a href="/team">Team</a></li>-->
                <li><a href="/analysis">Analysis</a></li>
                <li><a href="/press">Press</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    <div class="container">
        <hr class="nav_divider"/>
    </div>
    <div class="container categories_nav">
        <ul>
            <li><a href="/">West Wing</a></li>
            <li><a href="/">Economics</a></li>
            <li><a href="/">Defense</a></li>
            <li><a href="/">Religion</a></li>
            <li><a href="/">Health Care</a></li>
            <li><a href="/">Justice</a></li>
            <li><a href="/">Environment</a></li>
            <li><a href="/">Education</a></li>
            <li><a href="/">Foreign Policy</a></li>
        </ul>
    </div>
</nav>
