---

---

{% include header.html %}

<section class="container content-section" itemscope itemtype="http://schema.org/Article">

    <div class="row">

        <div class="col-md-10 col-md-offset-1">

            <h4 itemprop="name">{{ page.title }}</h4>

            <header class="post-header">
                {% if page.author %}<span class="post-author-article">{{ page.author }} </span> {% endif %}<span class="article-meta" style="text-transform: uppercase"><span class="meta" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</span></span>
            </header>
            <div class="postContainer">

                <article class="post-content" itemprop="articleBody">
                    {{ content }}
                </article>
            </div>

        </div>
        
        <!--<div class="col-md-3">-->

            <!--{% include side_well.html %}-->

        <!--</div>-->
    </div>
</section>

{% include footer.html %}
