---

---

{% include header.html %}

<section class="container content-section" itemscope itemtype="http://schema.org/Article">

    <div class="row">

        <div class="col-md-7 col-md-offset-1">

            <h3 itemprop="name">{{ page.title }}</h3>
            <header class="post-header">

                <p class="meta" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} •
                    <span itemprop="author">{{page.author }}</span>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            </header>
            <div class="postContainer">

                <article class="post-content" itemprop="articleBody">
                    {{ content }}
                </article>
            </div>

        </div>
        <div class="col-md-3">

            {% include side_well.html %}

        </div>
    </div>
</section>

{% include footer.html %}
